body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.webstudio {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-header{
    font-weight: 700;
    color: #2e2f42;
}

.menu {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu a:hover {
    color: #404bbf;
}

.studio-link {
    font-weight: 500;
    color: #2e2f42;
}

.studio-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts a:hover, .contacts a:focus {
    color: #404bbf;
}

.section-but {
    background: #2e2f42;
}

.section-but-h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
}
.order-service-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.order-service:hover, .order-service:focus {
    background-color: #404bbf;
}

.information-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.information-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background: #f4f4fd;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-team-work {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-team-list {
    background-color: #ffffff;
}

.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.our-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.botom {
    background: #2e2f42;
}

.studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}